<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517522386835-0s1q1e49plimn3nbe220ri49nv9e93qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517522386835-0s1q1e49plimn3nbe220ri49nv9e93qa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517522386835-t38hcboauo33sdq4tdmtti0s57qgg15n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrE7hsE_L8MBuTfGQSIdsF1eHL4zmoNAw</string>
	<key>GCM_SENDER_ID</key>
	<string>517522386835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starlight.cocuser</string>
	<key>PROJECT_ID</key>
	<string>city-of-cars-6b50c</string>
	<key>STORAGE_BUCKET</key>
	<string>city-of-cars-6b50c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517522386835:ios:a31171f6bf2b1e892d8266</string>
</dict>
</plist>